.text-box {
    width: 100%;
    height: 150px;
    font-size: 36px;
    line-height: 150px;
    text-align: center;
    background-color: #eaeaea;
    color: #4b4b4b;
}

.flex {
    height: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.edit-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.edit-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

button {
    width: 200px;
    margin-right: 20px;
}

.logotype {
    margin-right: 30px;
}

@media screen and (max-width: 600px) {

    .flex {
        width: 100%;
        height: 100%;
    }

    .action-btns {
        width: calc(100% - 30px);
    }

    button {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .edit-box {
        flex-direction: column;
    }

    .logotype {
        margin-right: 0px;
        margin-bottom: 20px;
    }
}